.Header {
  display : flex;
  align-items: center;
  background-color : #222;
  position : fixed;
  width : 100%;
  color : #83d0f2;
  z-index: 2;
}

.logo{
  width : 80%;
  display : inline-block;
  text-align: center;
}

.logo h1 span{
  position: relative;
  left : 110px;
}

.navlist{
  display : inline-block;
  width : 10%;
  list-style: none;
}

.navitem a{
  float : right;
  margin-left : 10px;
  margin-right: 10px;  
  color : #83d0f2;
}


